@model GetAllVM
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/exam.css">
    <link rel="stylesheet" href="~/css/edit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>

<body>

    <!-- الادمن -->

    <div class="scroll">
        <i class="fa-solid fa-arrow-down-long scrolling"></i>
    </div>

    <a asp-action="CorrectWritten" asp-route-id="@Model.quizzes.FirstOrDefault().courseId" class="btn btn-danger">تصحيح المقالي</a>

    <div id="quizLinks" class="container">
        <form method="post" asp-action="QuizAccess">



            @foreach (var item in Model.quizzes)
            {
                <div class="quiz">
                    <h3>@item.Name</h3>
                    @if (item.StudentTakedExam)
                    {
                        <p>you did this exam before </p>
                        <a asp-action="Get" asp-route-id="@item.Id">Click</a>

                    }
                    else
                    {
                        <a asp-action="Get" asp-route-id="@item.Id">Click</a>

                    }

                </div>
            }


        </form>



    </div>





    <div class="listoftable container">
        <form id="searchForm">
            <label for="name" class="h2 ">Search by Name</label>
            <input type="text" id="name" name="name" placeholder="Enter name...">






            <input type="submit" value="Search" class="sub">
        </form>

        <table id="studentTable" class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Exam Name</th>
                    <th scope="col">Exam Degree</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.students.Count(); i++)
                {
                    <tr>
                        <td>@Model.students.ElementAt(i).Student.Name</td>
                        <td>@Model.students.ElementAt(i).Quiz.Name</td>
                        <td>@Model.students.ElementAt(i).ExamDegree / @Model.students.ElementAt(i).MaxDegree  </td>
                    </tr>
                }




                <!-- Add more rows here -->
            </tbody>
        </table>
    </div>



    <script src="~/js/exam.js"></script>
</body>
